$main-color: rgb(255, 255, 255);
$second-color: rgb(25, 29, 30);
//#191d1e

body {
  background: $main-color;
}

a:hover, a:active, a:visited {
  text-decoration: none !important;
}

.normal {
  h1, h2, h3 {
    color: $second-color !important;
  }
  p {
    color: $second-color !important;
  }
  footer {
    background: $second-color;
  }
}

.inverse {
  background: $second-color;
  h1, h2, h3 {
    color: $main-color !important;
  }
  p {
    color: $main-color !important;
  }
  footer {
    background: $main-color;
  }
}