
.flex-container {
  height: 150px;
  width: 100%;
}

.premiere-slide {
  width: 100%;

}

.slick-list{
  overflow-x: hidden;
  overflow-y: visible;
}

.image {
  height: 120px;
  width: 200px;
  padding:5px;
  transition: .3s;
  transition-timing-function: ease-in-out;
  margin-top: 10px;
  &:hover {
    margin-top: 0px;
    height: calculate-rem(200px);
    width: calculate-rem(250px);
    transition: .3s;

    //transform:scale(1.5,1.5);
    //padding-left: calculate-rem(10px);
    //padding-right: calculate-rem(10px);
    transition-timing-function: ease-in-out;
  }
}

.items {
  z-index: 13;
}

.button-overlay {
  z-index: 10;
  position: absolute;
  height: 120px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 3em;
  align-items: center;
  display: flex;
  opacity: 0.9;
  top: 33%;
  cursor: pointer;
  z-index: 13;
}

.left {
  left: 0;
}

.right {
  right: 0;
}