.video {
  padding-left: calculate-rem(0px);
  padding-right: calculate-rem(0px);
}

.vid-container {
  @media (max-width: 920px) {
    display: none;
  }
  position: relative;
  height: 100%;
  overflow: hidden;
}

.bgvid {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  &.inner {
    top: calc(-50vh + 200px);
    left: calc(-50vw + 200px);
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
  }
}

.inner-container {
  width: calculate-rem(300px);
  height: 100%;
  position: absolute;
  top: calc(40% - 200px);
  right: 0rem;
  overflow: hidden;
}

.box {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: calculate-rem(30px) 0;
  font-family: 'Lato', sans-serif;
  h1 {
    text-align: center;
    margin: calculate-rem(30px) 0;
    @include fontSize(30px);
    font-weight: 300;
  }
  p {
    padding-left: calculate-rem(5px);
    padding-right: calculate-rem(5px);
    @include fontSize(14px);
    text-align: left;
  }
  &__video-settings {
    text-align: center;
  }
}